<div class="jumbotron">
  <div class="container text-center">
    <h1 class="display-4">Bienvenue sur Crazy Eventbrite !</h1>
    <p class="lead">Viens voir tous les évènements de ta ville !</p>
  </div>
  <div class="text-center">
    <%= link_to 'Crée ton évènement', '#', class: "btn btn-info btn-lg" %>
  </div>
</div>

<div class="container" >
	<%= render @all_events %>
</div>
